.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #1c1c1c;
  overflow: hidden;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
.freeBox__yt1Zf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1274px;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yt1Zf {
    margin-top: calc(0px + 64px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__ig1Di {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 1224px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__ig1Di > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ig1Di > :global(.__wab_flex-container) > *,
.freeBox__ig1Di > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ig1Di > :global(.__wab_flex-container) > picture > img,
.freeBox__ig1Di
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ig1Di {
    display: flex;
    flex-direction: column;
    width: 541px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ig1Di > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ig1Di > :global(.__wab_flex-container) > *,
  .freeBox__ig1Di > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ig1Di > :global(.__wab_flex-container) > picture > img,
  .freeBox__ig1Di
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___26N9O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 593px;
  margin-top: 0px;
  margin-right: 6px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___26N9O {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.text__eClwu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 55px;
  color: #eeeeee80;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__eClwu {
    padding-top: 16px;
    width: auto;
    font-size: 18px;
    text-align: left;
    align-self: flex-start;
  }
}
.freeBox__aKybM {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
.freeBox__aKybM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aKybM {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aKybM > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aKybM > :global(.__wab_flex-container) > *,
  .freeBox__aKybM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aKybM > :global(.__wab_flex-container) > picture > img,
  .freeBox__aKybM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 16px;
  }
}
.button__r9Rkv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__r9Rkv:global(.__wab_instance) {
    height: 58px;
    align-self: auto;
    width: 100%;
    max-width: 340px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__w5HF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fPh9V {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg__yYiUd {
  position: relative;
  object-fit: cover;
  width: 26px;
  height: 26px;
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__yYiUd {
    color: #ffffff;
    margin-right: 0px;
    display: block;
  }
}
.button__ssCwS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ssCwS:global(.__wab_instance) {
    margin-left: calc(0px + 20px) !important;
    max-width: 340px;
    width: 100%;
    height: 58px;
    min-width: 0;
    flex-shrink: 0;
    display: flex;
  }
}
.svg__aWz4D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xKAkf {
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__xKAkf {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.svg__eF0Jh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__re7L3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__re7L3 {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    min-width: 0;
    display: none;
  }
}
.button__ihMug:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2RZsA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rnj6T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hpBvd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__hpBvd:global(.__wab_instance) {
    display: none;
  }
}
.svg__tumyV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2S6PN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__dfnZg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__yCkAp {
  position: relative;
  object-fit: cover;
  margin-left: 76px;
  width: 100%;
  min-width: 661px;
}
.img__yCkAp > picture > img {
  object-fit: cover;
}
.img__yCkAp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__yCkAp {
    margin-top: 34px;
    width: 100%;
    margin-left: 0px;
    min-width: 0px;
  }
}
.text___2Vok6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: var(--token-kAFMbrgBnJ-VI);
  color: var(--token-mWAwA7CAoSaBt);
  font-size: 18px;
  padding-top: 90px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___2Vok6 {
    font-size: 16px;
    padding-top: 31px;
    text-align: center;
  }
}
.freeBox__rlgwu {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  max-width: 1104px;
  width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__rlgwu > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__rlgwu > :global(.__wab_flex-container) > *,
.freeBox__rlgwu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rlgwu > :global(.__wab_flex-container) > picture > img,
.freeBox__rlgwu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rlgwu {
    width: 100%;
    max-width: var(--token-kAFMbrgBnJ-VI);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rlgwu > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rlgwu > :global(.__wab_flex-container) > *,
  .freeBox__rlgwu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rlgwu > :global(.__wab_flex-container) > picture > img,
  .freeBox__rlgwu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 50px;
  }
}
.img__u6QBq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__u6QBq > picture > img {
  object-fit: cover;
}
.img__u6QBq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__u6QBq {
    max-width: 170px;
  }
}
.img__gLf4D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gLf4D > picture > img {
  object-fit: cover;
}
.img__gLf4D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__gLf4D {
    max-width: 170px;
  }
}
.img___7Hl87 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___7Hl87 > picture > img {
  object-fit: cover;
}
.img___7Hl87 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___7Hl87 {
    max-width: 170px;
  }
}
.img__wSDt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__wSDt > picture > img {
  object-fit: cover;
}
.img__wSDt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__wSDt {
    max-width: 170px;
  }
}
.img__bCEf {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 1198px;
}
.img__bCEf > picture > img {
  object-fit: cover;
}
.img__bCEf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__yy6Zq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: 774px;
  left: 0px;
  top: 1159px;
}
.img__yy6Zq > picture > img {
  object-fit: cover;
}
.img__yy6Zq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___12O0A {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
  left: auto;
  top: 754px;
  object-position: right center;
  align-self: flex-end;
}
.img___12O0A > picture > img {
  object-fit: cover;
  object-position: right center;
}
.img___12O0A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: right center;
}
.diagramSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__a2KZx {
  max-width: var(--token-kAFMbrgBnJ-VI);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__a2KZx {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.h2__crDgy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__crDgy {
    font-size: 28px;
  }
}
.text__idTy0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
.img__w0SF3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 92px;
  z-index: 2;
}
.img__w0SF3 > picture > img {
  object-fit: cover;
}
.img__w0SF3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__w0SF3 {
    max-width: 249px;
  }
}
.img__d2S91 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -32px;
  z-index: 1;
}
.img__d2S91 > picture > img {
  object-fit: cover;
}
.img__d2S91 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__d2S91 {
    width: auto;
  }
}
.img___5DwmE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5DwmE > picture > img {
  object-fit: cover;
}
.img___5DwmE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___5DwmE {
    max-width: 50px;
  }
}
.img__vik8S {
  position: relative;
  object-fit: cover;
  max-width: 770px;
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}
.img__vik8S > picture > img {
  object-fit: cover;
}
.img__vik8S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__vik8S {
    max-width: 500px;
    height: auto;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}
.freeBox__fpUgf {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 44px 0px 0px;
}
.freeBox__fpUgf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__fpUgf > :global(.__wab_flex-container) > *,
.freeBox__fpUgf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fpUgf > :global(.__wab_flex-container) > picture > img,
.freeBox__fpUgf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fpUgf {
    padding-top: 19px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fpUgf > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fpUgf > :global(.__wab_flex-container) > *,
  .freeBox__fpUgf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fpUgf > :global(.__wab_flex-container) > picture > img,
  .freeBox__fpUgf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.diagramCard__v3XoC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .diagramCard__v3XoC:global(.__wab_instance) {
    width: auto;
  }
}
.diagramCard__nzZq1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.diagramCard__h2BB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__exjeL {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1012px;
  min-width: 0;
  padding: 160px 0px 0px;
}
.freeBox__exjeL > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__exjeL > :global(.__wab_flex-container) > *,
.freeBox__exjeL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__exjeL > :global(.__wab_flex-container) > picture > img,
.freeBox__exjeL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__exjeL {
    padding-top: 59px;
    max-width: 358px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__exjeL > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(0px - 17px);
    width: calc(100% + 17px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__exjeL > :global(.__wab_flex-container) > *,
  .freeBox__exjeL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__exjeL > :global(.__wab_flex-container) > picture > img,
  .freeBox__exjeL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 17px;
    margin-top: 24px;
  }
}
.img__tSoYa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tSoYa > picture > img {
  object-fit: cover;
}
.img__tSoYa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__tSoYa {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__btNkt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__btNkt > picture > img {
  object-fit: cover;
}
.img__btNkt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__btNkt {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__tTpep {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tTpep > picture > img {
  object-fit: cover;
}
.img__tTpep > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__tTpep {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___1PL9L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___1PL9L > picture > img {
  object-fit: cover;
}
.img___1PL9L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___1PL9L {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__j1Kvj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__j1Kvj > picture > img {
  object-fit: cover;
}
.img__j1Kvj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__j1Kvj {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___7XZd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___7XZd > picture > img {
  object-fit: cover;
}
.img___7XZd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___7XZd {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__bvBtN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__bvBtN > picture > img {
  object-fit: cover;
}
.img__bvBtN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__bvBtN {
    max-width: 72px;
    max-height: 72px;
  }
}
.h2__fRbJf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
  padding-top: 52px;
}
.text__mMkks {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__mMkks {
    font-size: 16px;
  }
}
.deviceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .deviceSection:global(.__wab_instance) {
    height: 440px;
    flex-shrink: 0;
  }
}
.freeBox__sSuuV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 388px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__sSuuV {
    padding-bottom: 46px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.h2___8ZC11 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-RUbXGc0_Zka9X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2___8ZC11 {
    color: var(--token-RUbXGc0_Zka9X);
  }
}
.text___1QzOm {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
  color: #ffffff80;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___1QzOm {
    font-size: 16px;
    padding-top: 36px;
  }
}
.img__wjzhn {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 772px;
  z-index: 9;
  margin-top: -369px;
  width: auto;
}
.img__wjzhn > picture > img {
  object-fit: cover;
}
.img__wjzhn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__wjzhn {
    left: auto;
    top: 754px;
    max-width: 360px;
    margin-top: -499px;
  }
}
.gallerySection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__uvsmk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 278px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uvsmk {
    padding-top: 102px;
    padding-bottom: 0px;
  }
}
.columns__oxjfX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__oxjfX > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__oxjfX > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__oxjfX > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__oxjfX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__oxjfX > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sImt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__sImt {
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img___9BekM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img___9BekM > picture > img {
  object-fit: cover;
}
.img___9BekM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__spfbM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__spfbM {
    padding: 4px 0px;
  }
}
.img__z6ARb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__z6ARb > picture > img {
  object-fit: cover;
}
.img__z6ARb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__t6MVq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__t6MVq {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__vD45Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__vD45Y > picture > img {
  object-fit: cover;
}
.img__vD45Y > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__zTrO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px 8px;
}
.columns__zTrO > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__zTrO > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__zTrO > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__zTrO {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__zTrO > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___211IG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px 4px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___211IG {
    padding-right: 0px;
  }
}
.img__u408G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__u408G > picture > img {
  object-fit: cover;
}
.img__u408G > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__nA2TZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__nA2TZ {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__uxNr7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__uxNr7 > picture > img {
  object-fit: cover;
}
.img__uxNr7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__r3Xjh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__r3Xjh {
    padding-left: 0px;
  }
}
.img__w3CXm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__w3CXm > picture > img {
  object-fit: cover;
}
.img__w3CXm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.productSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__h5StK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__iKapx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__tuhhM {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__tuhhM {
    font-size: 16px;
  }
}
.button__zepjK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__zepjK:global(.__wab_instance) {
    max-width: 171px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg__zB5He {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__d9ZYy {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    min-width: 0;
    margin: 8px 0px;
  }
}
.svg___78Ca {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__mv345 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__mv345 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mv345 > :global(.__wab_flex-container) > *,
.freeBox__mv345 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mv345 > :global(.__wab_flex-container) > picture > img,
.freeBox__mv345
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__mv345 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__mv345 > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__mv345 > :global(.__wab_flex-container) > *,
  .freeBox__mv345 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mv345 > :global(.__wab_flex-container) > picture > img,
  .freeBox__mv345
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__zqSxz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__aIjOt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__wq8RI {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.freeBox__wq8RI > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wq8RI > :global(.__wab_flex-container) > *,
.freeBox__wq8RI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wq8RI > :global(.__wab_flex-container) > picture > img,
.freeBox__wq8RI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__wq8RI > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__wq8RI > :global(.__wab_flex-container) > *,
  .freeBox__wq8RI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wq8RI > :global(.__wab_flex-container) > picture > img,
  .freeBox__wq8RI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__wcDog:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__dwogH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__jhhsw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__w1JjW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-RUbXGc0_Zka9X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__w1JjW {
    padding-top: 18px;
  }
}
.freeBox__zEaTn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 46px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zEaTn {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__dlxUd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__a6Grb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__a6Grb > picture > img {
  object-fit: cover;
}
.img__a6Grb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__a6Grb {
    max-width: 339px;
  }
}
.freeBox__yMcxU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__be6Le {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 41px;
  color: var(--token-RUbXGc0_Zka9X);
  text-align: left;
  font-size: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__be6Le {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__aU7Oo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aU7Oo {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.img__ae7Dm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ae7Dm > picture > img {
  object-fit: cover;
}
.img__ae7Dm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__rz6Ep {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  padding-top: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__rz6Ep {
    padding-bottom: 0px;
    font-size: 16px;
  }
}
.freeBox__iBnXw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 52px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__iBnXw {
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }
}
.img__efx9P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__efx9P > picture > img {
  object-fit: cover;
}
.img__efx9P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__efx9P {
    width: auto;
    align-self: flex-start;
  }
}
.text__oGwK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 523px;
  padding-top: 32px;
  align-self: center;
  color: #ffffff80;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__oGwK {
    font-size: 18px;
    text-align: left;
    padding-top: 23px;
  }
}
.freeBox__yKwRr {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 97px 0px 0px;
}
.freeBox__yKwRr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yKwRr {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 669px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yKwRr > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yKwRr > :global(.__wab_flex-container) > *,
  .freeBox__yKwRr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yKwRr > :global(.__wab_flex-container) > picture > img,
  .freeBox__yKwRr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout___1G9Wl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__oXbH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__weW5Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__llJkD {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__llJkD > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__llJkD {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__llJkD > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__llJkD > :global(.__wab_flex-container) > *,
  .freeBox__llJkD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__llJkD > :global(.__wab_flex-container) > picture > img,
  .freeBox__llJkD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__biJdi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__w0MeY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__pqdlt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__m5Su {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: -38px;
  top: 463px;
  display: none !important;
}
.img__m5Su > picture > img {
  object-fit: cover;
}
.img__m5Su > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__m5Su {
    display: none !important;
  }
}
.img__aJsrU {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  left: 1100px;
  top: 463px;
}
.img__aJsrU > picture > img {
  object-fit: cover;
}
.img__aJsrU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__aJsrU {
    display: none !important;
  }
}
.priceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
.startSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___8RaaW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: linear-gradient(#185adb, #185adb), #185adb;
  margin-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___8RaaW {
    margin-bottom: 0px;
  }
}
.img__fLhBv {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__fLhBv > picture > img {
  object-fit: cover;
}
.img__fLhBv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__nvq02 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__nvq02 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__nvq02 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__nvq02 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__nvq02 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__a0Aau {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 54px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__a0Aau {
    padding: 0px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 116px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-RUbXGc0_Zka9X);
  font-size: 48px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    width: 100%;
    text-align: left;
    align-self: center;
    padding-top: 0px;
    font-size: 28px;
    min-width: 0;
  }
}
.text__xmX7D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 740px;
  color: var(--token-RUbXGc0_Zka9X);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 108px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__xmX7D {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.column__tmGDu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__tmGDu {
    padding-bottom: 38px;
  }
}
.button__xyLgn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__xyLgn:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__kdRT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___3C1Fq {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.svg__dkPzI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__pdVbe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns___4Tt5Y {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns___4Tt5Y > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.columns___4Tt5Y > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns___4Tt5Y > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns___4Tt5Y > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns___4Tt5Y > :global(.__wab_flex-container) > *,
.columns___4Tt5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___4Tt5Y > :global(.__wab_flex-container) > picture > img,
.columns___4Tt5Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___4Tt5Y {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___4Tt5Y > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___4Tt5Y > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 52px) * 12 / 12);
  }
}
.column__h23Ru {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__n8YBh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__vbYpR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__odALg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__odALg:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__xEo3C {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text___872Df {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___872Df {
    top: 85px;
    font-size: 14px;
  }
}
.column___0Hc88 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___9VUrX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard___9VUrX:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
